Source: python-autowrap
Priority: optional
Maintainer: xxx
Uploaders: xxx
Build-Depends: debhelper (>= 9.2), 
               dh-python,
               python-all (>= 2.6.6-3~),
               python-setuptools,
               python3-all, 
               python3-setuptools,
               cython,
               libboost-dev
Standards-Version: 3.9.5
Section: libs

Package: python-autowrap
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, cython, libboost-dev
Suggests: python-autowrap-docs
Description: Python autowrap (Python 2)
 Autowrap
 .
 This is the Python 2 version of the package.
