Source: python-autowrap
Priority: optional
Maintainer: xxx
Uploaders: xxx
Build-Depends: debhelper (>= 9.2), 
               dh-python,
               python-all (>= 2.6.6-3~)
               python-setuptools,
               python3-all, 
               python3-setuptools
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.geometrictools.com/


